<div class="row">
<div class="span3">
</div>
  <div class="span6"><br />
    <div class="mainborder">
      <center>
        <h2>{{message}}</h2>
      </center>
      <table class="table">
        <tbody>
          <tr>
            <td><h4>Questions Answered:</h4></td>
            <td><h4>{{no_questions}}</h4></td>
          </tr>
            <tr>
            <td><h4>Correct Answers:</h4></td>
            <td><h4>{{score}}</h4></td>
          </tr>
           
            <tr>
            <td><h4>Accuracy:</h4></td>
            <td>
              <h4>
                {% if no_questions > 0 %}
                  {{100*score/no_questions}}%
                {% else %}
                  0%
                {% end %}
              </h4>
            </td>
          </tr>
          <tr>
            <td><h4>Points:</h4></td>
            <td><h4>{{10*score}}</h4></td>
          </tr>
          <tr>
          <td> </td>
          <td> </td>

          </tr>
        </tbody>
      </table>

      <center>
        {% if not learn %}       
            <a href="/dashboard"><button class="btn btn-large btn-primary" type="button">Continue To Dashboard</button></a>
        {% else %}
            <a href="/test/new"><button class="btn btn-large btn-primary" type="button">Take the test</button></a>
        {% end %}
      </center>
      <br />
    </div>
  </div>
</div>