{% set c = cursor % (len(section.nuggets)-1) %}
{% set nugget = section.nuggets[c] %}
<div class="landing">
	<div class="row">
  		<div class="span12"><br />
  			<div class="mainborder">
  				<div class="row">
  					<div class="span8">
  						<div class="nuggettitle">
  							<h2>{{nugget.section_sub_title}}.</h2>
  						</div>
  					</div>
  					<div class="span2 pull-right">
  						<div class="statbox">
  							<h3><center>{{c+1}} / {{section_length}}</center></h3>
  						</div>
  					</div>
  				</div>

  				<div class="maincontent">
					<div class="row">
						<div class="span7">
					    	<div  class="learn">
					    		<h3>{{nugget.title}}</h3>
					     		<p>{% raw nugget.content %}</p>
					     	</div>

				            <ul class="pager">
				            	{% if c != 0 %}
								<li class="previous">
									<a cursor="{{c}}" sid="{{section.id}}" id="previous-nugget-btn">← Previous</a>
								</li>
								{% end %}
								<li class="next">
									<a cursor="{{c}}" sid="{{section.id}}" id="next-nugget-btn">Next →</a>
								</li>
							</ul>
						</div>

						<div class="span4">
							<ul class="thumbnails">							           
					            <li>
					            	<a href="#" class="thumbnail"><img src="/obj/img/nuggets/{{nugget.img}}" width="500" height="500" alt=""></a>
							    </li>
					        </ul>
			            </div>
				    </div>
					     
	            </div>
			</div>
		</div>
	</div>
</div>
