{% set nugget = section.nuggets[cursor] %}
<div class="landing">
	<div class="row">
  		<div class="span12"><br />
  			<div class="mainborder">
  				<div class="row">
  					<div class="span8">
  						<div class="nuggettitle">
  							<h2>{{nugget.title}}.</h2>
  						</div>
  					</div>
  					<div class="span2 pull-right">
  						<div class="statbox">
  							<h3><center>{{cursor}} / {{section_length}}</center></h3>
  						</div>
  					</div>
  				</div>

  				<div class="maincontent">
					<div class="row">
						<div class="span7">
					    	<div  class="learn">
					     		<p>{% raw nugget.content %}</p>
					     	</div>

				            <ul class="pager">
								<li class="previous">
									<a cursor="{{cursor}}" sid="{{section.id}}" id="previous-nugget-btn">← Previous</a>
								</li>
								<li class="next" cursor="0" tid="5065c16f8e4c852a5f900e25" remaining-answers="2">
									<a cursor="{{cursor}}" sid="{{section.id}}" id="next-nugget-btn">Next →</a>
								</li>
							</ul>
						</div>

						<div class="span4">
							<ul class="thumbnails">							           
					            <li>
					            	<a href="#" class="thumbnail"><img src="/obj/img/{{nugget.img}}" alt=""></a>
							    </li>
					        </ul>
			            </div>
				    </div>
					     
	            </div>
			</div>
		</div>
	</div>
</div>
