
{% set question = test.questions[test.cursor] %}
{% set question_tags = ["A", "B", "C", "D", "E", "F"] %}
{% set question_order = ["first", "second", "third", "fourth", "fifth", "sixth"] %}
{% set remaining_answers = len(question.answer) %}

{% if len(test.answers) > test.cursor %}
	{% set selected_answers = test.answers[test.cursor].selected_answers %}
	{% set remaining_answers = len(question.answer) - len(selected_answers) %}
{% else %}
	{% set selected_answers = [] %}
{% end %}

{% if not test.is_completed %}
	<div class="hidden"></div>
{% end %}

<div class="row">
	<div class="span12"><br />
		<div class="mainborder">
			<div class="row">
				<div class="span8">
					<div class="questiontitle">
						<h2>{{ question.question }}</h2>
					</div>
				</div>
				<div class="span2 pull-right">
					<div class="statbox">
						<h3><center>{{test.cursor}} / {{len(test.questions)}}</center></h3>
					</div>
				</div>
			</div>
			<div class="maincontent">
				{% if not question.image  %}
					<table class="table table-hover">
					<thead>
					<tr>
					</tr>
					</thead>
					<tbody>

						{% for i, option in enumerate(question.options) %}
							{% if i in selected_answers %}
								<tr class="success">
							{% else %}
								<tr>
							{% end %}
							<td class="question-tag"><center><center><span class="badge badge-info">{{question_tags[i]}}</span></center></td>
							<td class="choice {{question_order[i]}}">{{option}}</td>
							</tr>
						{% end %}

					</tbody>
					</table>

				  	<ul class="pager">
						{% if test.cursor != 0 %}
						<li class="previous" cursor="{{test.cursor}}" tid="{{test.id}}">
							<a href="#">&larr; Previous</a>
						</li>
						{% end %}
						<li class="next" cursor="{{test.cursor}}" tid="{{test.id}}" remaining-answers="{{remaining_answers}}">
							<a href="#">Next &rarr;</a>
						</li>
					</ul>
			    {% else %}
			    	<div class="row">
						<div class="span7">
							<table class="table table-hover">
							<thead>
							<tr>
							</tr>
							</thead>
							<tbody>

								{% for i, option in enumerate(question.options) %}
									{% if i in selected_answers %}
										<tr class="success">
									{% else %}
										<tr>
									{% end %}
									<td class="question-tag"><center><center><span class="badge badge-info">{{question_tags[i]}}</span></center></td>
									<td class="choice {{question_order[i]}}">{{option}}</td>
									</tr>
								{% end %}

							</tbody>
							</table>

						  	<ul class="pager">
								{% if test.cursor != 0 %}
								<li class="previous" cursor="{{test.cursor}}" tid="{{test.id}}">
									<a href="#">&larr; Previous</a>
								</li>
								{% end %}
								<li class="next" cursor="{{test.cursor}}" tid="{{test.id}}" remaining-answers="{{remaining_answers}}">
									<a href="#">Next &rarr;</a>
								</li>
							</ul>
						</div>

						<div class="span4">
							<ul class="thumbnails">				           
					            <li>
					            	<a href="#" class="thumbnail"><img src="{{static_url('imgs/qimages.png')}}" alt=""></a>
							    </li>
							</ul>
			            </div>
			        </div>
			    {% end %}
			</div>
		</div>
	</div>
</div>





	
