<div class="hero-unit">
	<div class="hero-unit1">

		{% set question = test.questions[test.cursor] %}
		<div class="image123"><img alt="" src="{{static_url('imgs/questionbg.png')}}" />
			
			<div class="text">
				 <div class="verticalalign" style="display: table; height: 100px; #position: relative; overflow: hidden;">
		    <div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
		      <div class="greenBorder" style=" #position: relative; #top: -50%">
		        	    <p><font color="#FFFFFF"><b>{{ question.question }}</b></font></p>
		      </div>
		    </div>
		  </div>
			</div>
		</div>
		</br></br></br></br></br>
		<div class="progress progress-striped">
			<div class="bar bar-success progress-striped" style="width: {{100*test.cursor/len(test.questions)}}%">
			</div>
		</div>
		{% if not question.image  %}
		<table class="table table-hover">
		<thead>
		<tr>

		</tr>
		</thead>
		<tbody>
			<tr>
			<td><center><center><span class="badge badge-info">A</span></center></td>
			<td class="choice first">{{question.options[0]}}</td>
			</tr>
			<tr>
			<td><center><span class="badge badge-info">B</span></center></td>
			<td class="choice second">{{question.options[1]}}</td>
			</tr>
			<tr>
			<td><center><span class="badge badge-info">C</span></center></td>
			<td class="choice third">{{question.options[2]}}</td>
			</tr>
			<tr>
			<td><center><span class="badge badge-info">D</span></center></td>
			<td class="choice fourth">{{question.options[3]}}</td>
			</tr>
		</tbody>
		</table>
		{% else %}
		<div id="left">
		    <div id="object1">
		    	<table class="table table-hover">
					<thead>
					<tr>

					</tr>
					</thead>
					<tbody>

					<tr>
					<td style="width: 5%; padding-top: 13px;"><center><center><span class="badge badge-info">A</span></center></td>
					<td class="choice first" style="width: 40%; padding-top: 14px;">{{question.options[0]}}
					</td>
					</tr>
					<tr>
					<td style="padding-top: 13px;"><center><span class="badge badge-info">B</span></center></td>
					<td  class="choice second" style="padding-top: 14px;">{{question.options[1]}}</td>
					</tr>
					<tr>
					<td style="padding-top: 13px;"><center><span class="badge badge-info">C</span></center></td>
					<td class="choice third" style="padding-top: 14px;">{{question.options[2]}}</td>
					</tr>
					<tr>
					<td style="padding-top: 13px;"><center><span class="badge badge-info">D</span></center></td>
					<td class="choice fourth" style="padding-top: 14px;">{{question.options[3]}}</td>
					</tbody>
				</table>
			</div>
		</div>

		<div id="right">
			<div id="object3"><img src="/static/imgs/{{question.image}}" alt="some_text"/></div>
		</div>		
		{% end %}

		 <ul class="pager">
		  <li class="previous">
		    <a href="#">&larr; Previous</a>
		  </li>
		  <li class="next" cursor="{{test.cursor}}" tid="{{test.id}}" remaining-answers="{{len(question.answer)}}">
		    <a href="#">Next &rarr;</a>
		  </li>
		</ul>
	</div>
</div>




	
