.navbar .brand {
  float: left;
  display: block;
  padding: 0px 20px 0px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #555555;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
color: white;
background-color: #08C;
}

.navbar .brand, .navbar .nav > li > a {
color: #08C;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav > li > a {
float: none;
padding: 5px 10px 5px;
color: #555;
text-decoration: none;
text-shadow: 0 1px 0 white;
font-size: 13px;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #ccc;
}

  .nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.navbar .nav > li > a {
  color: #08C;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .brand:hover,
.navbar .nav > li > a:hover {
text-decoration: none;
background-color: #EEE;
}
.navbar  .nav > li > a:focus,
.navbar  .nav > li > a:hover {
text-decoration: none;
background-color: #EEE;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #ffffff;
  background-color: #08C;
}

.nav-tabs::before, .nav-pills::before, .nav-tabs::after, .nav-pills::after {
display: table;
content: "";
line-height: 0;
padding-top: 7px;
}

.pull-right {
  float: right;
  width: 368px;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 960px;
}

.footer {
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top:40px;
  background-color: #000000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
   border-style:solid;
border-width:0px;
border-color: #000000;
background-color:rgba(0,0,0,0.3);
font-color: #FFFFFF;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

.align-left { float:left; margin: 0 10px 15px 0; }
.frame { padding: 2px; border: 1px solid #aaa; -moz-border-radius: 3px; border-radius: 3px;}
.fb { font-family: Arial, Helvetica, sans-serif}
.fbpoints {font-size:12px; padding-top:2px;}
.fbname {font-size:16px; padding-top:3px;}

.notify {
  background-color: white;  
  border: 1px solid black;
  padding: 15px;
  z-index: 1000;
  font-size: 0.923em;
}

.blurb-wrap {
  background-image: url(/static/imgs/blurb-back-black-transp.png);
  padding: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  z-index: 900;
}

.blurb-close-btn, .notify-blurb-close-btn, .error-notify-blurb-close-btn{
  position: absolute;
  top: 3px;
  right: 3px;
  background-image: url("/static/imgs/x_btn.png");
  opacity: 0.6;
  height: 12px;
  width: 12px;
  z-index: 3px;
}

.error-notify-blurb-close-btn {
  background-image: url("/static/imgs/x_btn_error.png");
}

.notify-blurb-close-btn:hover, .error-notify-blurb-close-btn:hover{
  cursor: pointer;
  opacity: 1;
  background-image: url("/static/imgs/x_btn_over.png")  
}

.error-notify-blurb-close-btn:hover {
  background-image: url("/static/imgs/x_btn_error_over.png")  
}

.error-notify{
  z-index: 1000;
  font-size: 0.923em;
}

.error-notify {
  padding: 15px 25px 15px 25px;
  background-color: #FFDDDD;
  text-shadow: 1px 1px #FFF3F3;
  color: #993737;
  border: 1px solid #A76363;
}