#mini-quiz-box{
	border-style: none;
	position: relative;
	width:98%;
	z-index:200;
}

#dim{ 
	position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	z-index:100; 
	background: url(/static/imgs/dim.png); 
	display:none; 
	text-align:left; } 

#questions, #answers{
	display: none; 
}