

ul.bigstat > li > h1 {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  padding-bottom:5px;
  text-shadow: 2px 2px 0px #000000, 2px 2px 0px #000000;
}

ul.bigstat > li > h2 {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 0px;
  padding-top:5px;
  text-shadow: 2px 2px 0px #000000, 2px 2px 0px #000000;
}

ul.bigstat > li {
  display: inline-block;
  text-align: center;
  margin: 0 40px 0 40px;
  vertical-align: top;
  margin: 0px;
}

div.bigstatUnderline {
  display: inline-block;
  background: #fff;
  width: 180px;
  height: 2px;
}

.welcome-msg-container{
  display: none;
  position:relative; 
  z-index:300;
  border-style:solid;
  border-width:thin;
  border-color:white;
  height:206px;

  background-color:#000;
  padding: 5px 15px 15px 15px;
  margin: 0px 15px 0px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
}

.welcome-msg-content{
  height:190px;
}

.welcome-msg-footer{
  position: relative;
  bottom: 0px;
}

.welcome-msg-footer label{
  position: absolute;
  right:2px;
  font-size: 12px;
}

#close-welcome-msg-btn{
  position: absolute;
  left: 2px;
  bottom: -10px;
}

.funkytext{
  text-shadow: 2px 2px 0px #000000, 2px 2px 0px #000000;
}