a {
  color: #00E;
  text-decoration: none;
}

a:hover {
  color: #00E;
  text-decoration: underline;
}

a.twitter {
	display: block;
	width: 223px;
	height: 52px;
	text-decoration: none;
	float:right;
	background: url("/static/imgs/twitter.png");
/*    pointer-events: none;
    cursor: default;*/
}

a.twitter:hover {
	background-position: -228px 0;
}

a.twitter:active {
	background-position: -455px 0;
}

.dtwitter {
	position: absolute;
	left: -5000px;
}
	
a.facebook {
	display: block;
	width: 255px;
	height: 52px;
	text-decoration: none;
	background: url("/static/imgs/facebook.png");
	float:left;	
}

a.facebook:hover {
	background-position: -264px 0;
}

a.facebook:active {
	background-position: -527px 0;
}

.dfacebook {
	position: absolute;
	left: -5000px;
}

#intheory-register-btn{
	display: block;
	height: 49px;
	width: 252px;
	margin: 0;
	padding: 0;
	float:right;
}

.dintheory{
	font-size: 16px;
	position: relative;
	top:15px;
	padding:15px 0px 10px 0px;
}

.signin-container{
	display: none;
}

.signin-container-visible{
	display: block;
}

.normal-signin-container{
	text-align: center;
}

.normal-signin-container span{
	color:#525252;
}

.no-account-container{
	margin-top: 15px;
	color: #525252;
	font-size: small;
	text-align: center;
}

.no-account-container a{
	color: #49AFCD;
	font-size: small;
}

.login-options-divider h3{
	width:100%; 
	text-align:center; 
	border-bottom: 1px solid #525252;
	line-height:2px; 
	margin:25px 0 20px; 
} 


.login-options-divider h3 span { 
    background-repeat:repeat-x repeat-y; background-image:url('/static/imgs/back-texture.png');
	padding:0 10px;
	color: #525252;
}​

