@charset "UTF-8";
/* CSS Document */

.learn {
  background-repeat:repeat-x repeat-y; background-image:url('/static/imgs/back-texture.png');
  padding:10px;
  margin-right:20px;
  margin-top:0px;  
  height: 328px;
  width: 100%;
  overflow: auto;
}


/* Let's get this party started */
.learn::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.learn::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.learn::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #D6E3E8; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.nugget-img-container { 
  width: 420px;
  height: 350px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:420px 350px;
  margin-left: -15px;
  margin-top: 18px;
  border: solid 1px grey;
}

.pull-right{
  position: relative;
}

.statbox{
  position: absolute;
  right:0px;
}