a {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.question-tag{
  width:5%;
}

.countdowntime{
  float: left;
  padding-top:7px;
	width:80px;
  margin: 7px 7px 7px 0px; 
}

.countdowntime h3{
	background-color:black;
	padding:10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  margin: 0 auto;
}

.explanation{
  display: none;
}
