{% extends "admin-main.html" %}

{% block content %}
    <div class="container">
		<ul class="nav nav-tabs">
		  <li><a href="/admin/questions">Questions</a></li>
		  <li><a href="/admin/users">Users</a></li>
  		  <li class="active"><a href="/admin/sections">Sections</a></li>	
  		  <li><a href="/admin/nuggets">Nuggets</a></li>
		</ul>
		{% block admin-content%}
		<div class="columnA pull-left">
	   		<form class="form-horizontal" action="/admin/sections/add" method="post" >
	   		{% raw xsrf_form_html() %} 
			  <div class="control-group">
			    <label class="control-label">Title</label>
			    <div class="controls">
			      <input type="text" name="title-inp" placeholder="Title">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			       <div class="btn-group">
				       <button class="btn btn-primary" type="submit"><i class="icon-plus icon-white"></i> Add Section</button>
				   </div>
			    </div>
			  </div>
			</form>
	    </div>	
        <div class="columnB pull-right" style="background-color:white">
			<p>Existing sections:</p>
			<ul>
				{%for section in kwargs['sections']%}
					<li><a href="/learn/section?sid={{section.id}}">{{section.title}}</a></li>
				{% end %}
			</ul>
    	</div>	
    	{% end %}
    </div> <!-- /container -->
{% end%}

