{% extends "admin-main.html" %}

{% block content %}
    <div class="container">
		<ul class="nav nav-tabs">
		  <li><a href="/admin/questions">Questions</a></li>
		  <li class="active"><a href="#">Users</a></li>
  		  <li><a href="/admin/sections">Sections</a></li>	
  		  <li><a href="/admin/nuggets">Nuggets</a></li>
  		  <li><a href="/admin/logs">Logs</a></li>
		</ul>
		{% block admin-content%}
	    <div class="hero-unit">
            <div class="hero-unit1">
				<table class="table table-hover">
					<thead>
					<tr>					
					</tr>
					</thead>
					<tbody>
					{% for user in kwargs['users']%}
					<tr>
						<td ><center><center><span class="badge badge-info">1</span></center></td>
						<td >{{user.first_name}} {{user.last_name}}</td>
						<td ><a class="btn btn-danger">Ban</a></td>
						{% if not user.moderator%}
							<td ><a id="moderator-btn" uid="{{user.id}}" class="btn btn-success" >Moderator</a></td>
						{% else %}	
							<td ><center><a id="moderator-btn" class="btn btn-success disabled">Moderator</a></center></td>
						{% end %}
					</tr>					
					{% end %}
					</tbody>
					</table>
        	</div>
    	</div>      
    	{% end%}
    </div> <!-- /container -->
{% end%}

