{% extends "../base.html" %}

{% block content %}
	<div class="landing">
		<div class="row">
			<div class="span3">
			</div>
  			<div class="span6"><br />
  				<div class="mainborder">
  					<div class="questiontitle">
  						<h2> </h2>
  					</div>

  					<div class="maincontent">
						<p style="padding-left:17px; font-size:24px; font: 'Trebuchet MS', Arial, Helvetica, sans-serif"><b>Thanks You!</b></p>
						<p style="padding-left:17px; padding-top:10px; padding-bottom:10px; font-size:18px;">You have successfully joined InTheory.</p>
						<p style="padding-left:17px; padding-bottom:10px; font-size:18px;">By clicking the link below, you will be taken to your <b>dashboard</b> where you can:</p>
						<ul>
							<li><p>access all the <b>learning material</b>,</p></li>
						  	<li><p>practice <b>questions</b>,</p></li>
						  	<li><p>try the <b>hazard perception</b> and</p></li>
						  	<li><p>take <b>timed mock tests</b>.</p></li>
						</ul>
						<center>
  							<a href="/dashboard"><button class="btn btn-primary btn-large"  type="button">Continue to the Dashboard</button></a>
  						</center>
				    </div>
				</div>
			</div>
       </div>
    </div>
{% end %}

{% block jquery_templates %}
{% end %}