{% extends "learn-base.html" %}

{% block focus %}
    <div class="image123">
  		<img alt="" src="{{static_url('imgs/questionbg.png')}}" />
  			<div class="text">
    			<p><font color="#FFFFFF"><b>{{kwargs['title']}}</b></font></p>
  			</div>
	</div>
	</br></br></br></br></br>
	<div class="progress progress-striped">
	  <div class="bar bar-success progress-striped" style="width: 45%;"></div>
	  <div class="bar bar-inactive progress-striped" style="width: 55%;"></div>
	</div>
        
	<div class="columnA pull-left">
	  <img alt="" src="{{static_url('imgs/ImageC.png')}}" />
	</div>

	<div class="columnB pull-right">
	        <div class="learn">
	        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non metus augue, et commodo ipsum. In elit ipsum, accumsan non rutrum at, posuere vel est. Nunc fermentum gravida tincidunt. Etiam mattis dapibus nunc, ac rhoncus lectus ultricies a. Etiam cursus accumsan urna ultrices consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam et tempor neque. Sed placerat libero id lacus sollicitudin consectetur.</br></br></br></></br></br></br></br></></br>
			</div></br>
			<center> <button class="btn btn-primary" type="button"><i class="icon-arrow-left icon-white"></i> Previous</button>&nbsp;&nbsp;&nbsp;
			<button class="btn btn-primary" type="button">&nbsp;&nbsp;&nbsp;Next <i class="icon-arrow-right icon-white"></i>&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;</center>
	</div>

</br></br></br></></br>
</br></br></br></></br>
</br></br></br></></br>
</br></br></br></></br>
</br>

</br>
</br>           
</br>
{% end%}

