{% extends "learn-base.html" %}
  
{% block focus %}
<div class="hero-unit">
<div class="hero-unit1">
    <img src="{{static_url('imgs/lheader.png')}}" alt="lheader.png"/>
	</br></br>     
	<table class="table table-hover">
		<thead>
		<tr>					
		</tr>
		</thead>
		<tbody>	
		{%for section in kwargs['sections']%}				
			<tr>
				<td style="width: 5%; padding-top: 13px;"><center><center><span class="badge badge-info">1</span></center></td>
				<td style="width: 40%; padding-top: 14px;">{{section.title}}</td>
				<td style="width: 35%; padding-top: 15px;"><div class="progress progress-striped progress-success">
				  <div class="bar" style="width: 96%;"></div>
				</div></td>
				<td style="width: 10%"><center><a class="btn btn-primary " href="/learn/section?sid={{section.id}}">Learn</a></center></td>
				<td style="width: 10%"><center><a class="btn btn-success" href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
			</tr>		
		{% end %}
		</tbody>
		</table>
</div>
</div>
{% end%}


{% block jquery_templates %}
{% end %}


