{% extends "learn-base.html" %}
{% block focus %}
{% if kwargs['clips'] %}
{% set clips = kwargs['clips'] %}
{% set base_dir = kwargs['clips'][0].base_dir %}
<div class="hero-unit">
	<div class="hero-unit1">
        <img src="{{static_url('imgs/hazardt.png')}}" alt="lheader.png"/></br>
        <div class="progress progress-striped">
	  		<div class="bar bar-success progress-striped" style="width: 100%;">
	  		</div>
  	    </div></br>
		<center>
		<ul class="thumbnails">
		    <li class="span4">
		      <a href="#" class="thumbnail" cid="{{clips[0].id}}" clipPath="{{base_dir +clips[0].clip_name}}" >
		        <div class="text-over" id="text-over"><div class="text-over-text"> Learn more about the test</div></div>
	        	<img src="http://placehold.it/360x270" alt="">
		      </a>
		    </li>
		    <li class="span2">
		      <a href="#" class="thumbnail" cid="{{clips[0].id}}" clipPath="{{base_dir +clips[0].clip_name}}">
		        <div class="text-over" id="text-over"><div class="text-over-text"> Score: 4</div></div>
		        <img src="http://placehold.it/160x120" alt="">
		      </a>
		    </li>
		    <li class="span2">
		      <a href="#" class="thumbnail" cid="{{clips[1].id}}" clipPath="{{base_dir +clips[1].clip_name}}">
		        <div class="text-over" id="text-over"><div class="text-over-text"> Score: 4</div></div>
		        <img src="http://placehold.it/160x120" alt="">
		      </a>
		    </li>
		    <li class="span2">
		      <a href="#" class="thumbnail" cid="{{clips[2].id}}" clipPath="{{base_dir +clips[2].clip_name}}">
		        <div class="text-over" id="text-over"><div class="text-over-text"> Score: 4</div></div>
		        <img src="http://placehold.it/160x120" alt="">
		      </a>
		    </li>
		    <li class="span2">
		      <a href="#" class="thumbnail" cid="{{clips[3].id}}" clipPath="{{base_dir +clips[3].clip_name}}">
		        <div class="text-over" id="text-over"><div class="text-over-text"> Score: 4</div></div>
		        <img src="http://placehold.it/160x120" alt="">
		      </a>
		    </li>
	    </ul>

		 <ul class="thumbnails">
		  <li class="span2">
		    <a href="#" class="thumbnail" cid="{{clips[4].id}}" clipPath="{{base_dir +clips[4].clip_name}}">
		        <div class="text-over" id="text-over"><div class="text-over-text"> Score: 4</div></div>
		      <img src="http://placehold.it/300x200" alt="">
		    </a>
		  </li>
		   <li class="span2">
		    <a href="#" class="thumbnail" cid="{{clips[5].id}}" clipPath="{{base_dir +clips[5].clip_name}}">
		        <div class="text-over" id="text-over"><div class="text-over-text"> Score: 4</div></div>
		      <img src="http://placehold.it/300x200" alt="">
		    </a>
		  </li> 
		  <li class="span2">
		    <a href="#" class="thumbnail" cid="{{clips[6].id}}" clipPath="{{base_dir +clips[6].clip_name}}">
		        <div class="text-over" id="text-over"><div class="text-over-text"> Score: 4</div></div>
		      <img src="http://placehold.it/300x200" alt="">
		    </a>
		  </li>
		   <li class="span2">
		    <a href="#" class="thumbnail" cid="{{clips[7].id}}" clipPath="{{base_dir +clips[7].clip_name}}">
		        <div class="text-over" id="text-over"><div class="text-over-text"> Score: 4</div></div>
		      <img src="http://placehold.it/300x200" alt="">
		    </a>
		  </li>
		</ul>
		</center>  
	</div>        
</div>
{% else %}
	No clips found.
{% end %}
{% end%} 