{% extends "learn-base.html" %}

{% block focus %}
    <img src="{{static_url('imgs/lheader.png')}}" alt="lheader.png"/>
	</br></br>     
	<table class="table table-hover">
		<thead>
		<tr>					
		</tr>
		</thead>
		<tbody>					
		<tr>
		<td style="width: 5%; padding-top: 13px;"><center><center><span class="badge badge-info">1</span></center></td>
		<td style="width: 40%; padding-top: 14px;">Rules for pedestrians</td>
		<td style="width: 35%; padding-top: 15px;"><div class="progress progress-striped progress-success">
		  <div class="bar" style="width: 96%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="/learn/section?name=pedestrians">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success" href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">2</span></center></td>
		<td style="padding-top: 14px;">Rules for powered wheelchairs and mobility scooters</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-warning">
		  <div class="bar" style="width: 54%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">3</span></center></td>
		<td style="padding-top: 14px;">Rules about animals</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-success">
		  <div class="bar" style="width: 84%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">4</span></center></td>
		<td style="padding-top: 14px;">Rules for cyclists</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-warning">
		  <div class="bar" style="width: 49%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">5</span></center></td>
		<td style="padding-top: 14px;">Rules for motorcyclists</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-warning">
		  <div class="bar" style="width: 44%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">6</span></center></td>
		<td style="padding-top: 14px;">Rules for drivers and motorcyclists</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-danger">
		  <div class="bar" style="width: 24%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">7</span></center></td>
		<td style="padding-top: 14px;">General rules, techniques and advice for all</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-success">
		  <div class="bar" style="width: 74%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">8</span></center></td>
		<td style="padding-top: 14px;">Using the road</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-success">
		  <div class="bar" style="width: 94%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">9</span></center></td>
		<td style="padding-top: 14px;">Road users requiring extra care</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-warning">
		  <div class="bar" style="width: 62%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">10</span></center></td>
		<td style="padding-top: 14px;">Driving in adverse weather conditions</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-success">
		  <div class="bar" style="width: 84%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">11</span></center></td>
		<td style="padding-top: 14px;">Waiting and parking</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-warning">
		  <div class="bar" style="width: 20%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">12</span></center></td>
		<td style="padding-top: 14px;">Motorways</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-danger">
		  <div class="bar" style="width: 10%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">13</span></center></td>
		<td style="padding-top: 14px;">Breakdowns and incidents</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-warning">
		  <div class="bar" style="width: 34%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		<tr>
		<td style="padding-top: 13px;"><center><span class="badge badge-info">14</span></center></td>
		<td style="padding-top: 14px;">Road works, level crossings and tramways</td>
		<td style="padding-top: 15px;"><div class="progress progress-striped progress-danger">
		  <div class="bar" style="width: 3%;"></div>
		</div></td>
		<td style="width: 10%"><center><a class="btn btn-primary " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Learn</a></center></td>
		<td style="width: 10%"><center><a class="btn btn-success " href="http://www.youtube.com/v/3KyBRU9G-ZY?version=3&amp;amp;hl=en_GB">Practice</a></center></td>
		</tr>
		
		</tbody>
		</table>
{% end%}

{% block jquery_templates %}
{% end %}


