{% extends "learn-base.html" %}
{% block focus %}
	{%if kwargs['clip'] %}
		{% set clip = kwargs['clip'] %}
		{% set path = kwargs['clip'].base_dir + kwargs['clip'].clip_name %}
		<div class="video-wrapper">
			<video autoplay="true" id="video-container" width="320" height="240" controls="controls">
			  <source src="{{path}}.mp4" type="video/mp4" />
		      <source src="{{path}}.ogg" type="video/ogg" />
	          <source src="{{path}}.webm" type="video/webm" />
	          <object data="{{path}}.mp4" width="320" height="240">
			    <embed src="{{path}}.swf" width="320" height="240" />
	  		  </object> 
			</video>
			<div class="click-counter">		
			</div>
		</div>
		<a id="evaluate-test" cid="{{clip.id}}">Evaluate</a>
	{% else %}
		No clips found.
	{% end %}
{% end%}