{% extends "learn-base.html" %}

{% block focus %}
	<div class="video-wrapper">
		<video id="video-container" width="320" height="240" controls="controls">
		  <source src="{{static_url('videos/clip5.mp4')}}" type="video/mp4" />
	      <source src="{{static_url('videos/clip5.ogg')}}" type="video/ogg" />
          <source src="{{static_url('videos/clip5.webm')}}" type="video/webm" />
          <object data="{{static_url('videos/clip5.mp4')}}" width="320" height="240">
		    <embed src="{{static_url('videos/clip5.swf')}}" width="320" height="240" />
  		  </object> 
		</video>
		<div class="click-counter">		
		</div>
	</div>
{% end%}