{% extends "../base.html" %}

{% block content %}
	{% set test=kwargs['test'] %}
	<div class="landing">
		<div class="row">
			<div class="span12"><br />
				{% module Question(test, kwargs['timed']) %}
			</div>
		</div>
	</div>	
{% end %}

{% block jquery_templates %}
	<script id="existing-test-info-template" type="text/x-jquery/tmpl">
		<div class="info-popup clearfix">
			<h1>Hey! You didn&#39;t finish the last test.</h1>
			Do you want to carry on?
			<br><br>
			<div class="popup-actions">
				<button id="carry-on-btn" class="span1 btn btn-primary">Yes</button>
				<button id="create-new-btn" class="span1 btn btn-primary">No</button>
			</div>
		</div>
	</script>
{% end %}