{% extends "../base.html" %}

{% block content %}
	{% set question = kwargs['question'] %}
    <div class="container">
    	<div class="hero-unit">
        	<div class="hero-unit1">  
        		<div class="image123"><img alt="" src="{{static_url('imgs/questionbg.png')}}" />
				  <div class="text">
				    <p><font color="#FFFFFF"><b>{{ question.question }}</b></font></p>
				  </div>
				</div>
				</br></br></br></br></br>
				<div class="progress progress-striped">
					<div class="bar bar-success progress-striped" style="width: {{kwargs['q_cursor']}}/{{kwargs['test_length']}}">
					</div>
				</div>
				<table class="table table-hover">
				<thead>
				<tr>

				</tr>
				</thead>
				<tbody>
					<tr>
					<td><center><center><span class="badge badge-info">A</span></center></td>
					<td class="choice">{{question.options[0]}}</a></td>
					</tr>
					<tr>
					<td><center><span class="badge badge-info">B</span></center></td>
					<td class="choice">{{question.options[1]}}</td>
					</tr>
					<tr>
					<td><center><span class="badge badge-info">C</span></center></td>
					<td class="choice">{{question.options[2]}}</td>
					</tr>
					<tr>
					<td><center><span class="badge badge-info">D</span></center></td>
					<td class="choice">{{question.options[3]}}</td>
					</tr>
				</tbody>
				</table>
				<a class="next">Next Question</a>
        	</div>
    	</div>
    </div>
{% end %}

{% block jquery_templates %}
{% end %}