{% extends "admin-main.html" %}

{% block content %}
    <div class="container">
		<ul class="nav nav-tabs">
		  <li class="active">
		    <a href="#">Questions</a>
		  </li>
		  <li><a href="#">Users</a></li>
		</ul>
		{% block admin-content%}
   		<form class="form-horizontal" action="/admin/questions/add" method="post" >
   		{% raw xsrf_form_html() %} 
		  <div class="control-group">
		    <label class="control-label">Question</label>
		    <div class="controls">
		      <input type="text" id="question-inp" placeholder="Question">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label">Option 1</label>
		    <div class="controls">
		      <input type="text" id="option1-inp" placeholder="Option 1">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label">Option 2</label>
		    <div class="controls">
		      <input type="text" id="option2-inp" placeholder="Option 2">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label">Option 3</label>
		    <div class="controls">
		      <input type="text" id="option3-inp" placeholder="Option 3">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label">Option 4</label>
		    <div class="controls">
		      <input type="text" id="option4-inp" placeholder="Option 4">
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		       <div class="btn-group">
			       <button class="btn btn-primary" type="submit"><i class="icon-plus icon-white"></i> Add Question</button>
			       <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></button>
				   <ul class="dropdown-menu">
   				     <li><a href="#">Main question</a></li>
				     <li><a href="#">Mini quiz question</a></li>
				   </ul>
			   </div>
		    </div>
		  </div>
		</form>
    	{% end%}
    </div> <!-- /container -->
{% end%}

