<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
<head xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
	<meta charset="utf-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="author" content="intheory"> 
	<meta name="description" content="Intheory 2012"> 
	<meta property="og:image" content="http://www.petrominpng.com.pg/images/logo_big.png" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Intheory 2012" /> 

	<meta property="og:site_name" content="Intheory 2012" />
	<title>
		{% block title %}
			InTheory | Pass Your Theory Test. Guaranteed.
		{% end %}
	</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="{{static_url('css/base.css')}}" />
	{% for css in kwargs['css_deps'] %}
		<link href="{{static_url(css)}}" rel="stylesheet">
	{% end %}

    <style type="text/css">
    </style>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34526303-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head> 

<body >
{% block header %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand pull-left" href="/">In<b>Theory</b><sup> beta</sup></a>
          <div class="nav-collapse collapse pull-right">
            {% if not current_user%}
               <a href="/login/options"><button type="submit" class="btn btn-success signin-btn">Sign in</button></a>
             {% else %}
                <ul class="nav">
                  {% if current_user['moderator'] %}
                      <li id="admin-nav"><a href="/admin">Admin</a></li>  
                    {% end %}
                  <li class="learn-nav"><a href="/learn/main">Learn</a></li>
                  <li class="practice-nav"><a href="/practice/main">Practice</a></li> 
                  <li class="divider-vertical"></li>
                  <li><a href="#" rel="tooltip" title="These are your points"> <i class="icon-star icon-white"></i> {{current_user.points}}</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{current_user.profile_pic}}" alt="some_text" width="20" height="20"> &nbsp; {{current_user.first_name + " " + current_user.last_name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/dashboard">Statistics</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                  </li>
                </ul>
              {% end %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

{% end %}

<div class="container">

  {% block content %}

  {% end %}

  {% block footer %}
  <div id="footer" class="footer">
    <font color="#FFFFFF" size="2px">  
      <div class="span6">
        <p>InTheory Media Limited © 2012</p>
      </div>
      <div class="span6">
        <p class="alignright"><a href="/landing/about">About Us</a> | <a  href="/landing/terms">Terms & Conditions</a> | <a href="/landing/privacy">Privacy Policy</a></p>
      </div> 
    </font>      
    <div style="clear:both"></div>
    <br/>
  </div>
  {% end %}

</div>



<div id="dim">
</div>

{% block feedback %}
  {% if current_user %}
    <div id="feedback">
      Feedback
    </div>
  {% end %}
{% end %}

{% raw xsrf_form_html() %}
{% block scripts %}
	<script src="{{static_url('js/libs/jquery-1.7.2.min.js')}}"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src="{{static_url('js/libs/blurb.min.js')}}"></script>
	<script src="{{static_url('js/IT.js')}}"></script>
  <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
  <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
  <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
{% end %}

{% for js in kwargs['js_deps'] %}
	<script src="{{static_url(js)}}"></script>
{% end %}


  <script id="feedback-template" type="text/x-jquery/tmpl">
    <div class="info-popup clearfix">
      <h1>Leave feedback</h1>
      <label for="topic">Tell us what you think</label>
      <div id="problem-desc" class="clearfix">
        <textarea id="feedback-description"></textarea>
      </div>
      <br>
      <div class="popup-actions">
        <center>
          <a id="submit-feedback-btn" class="btn btn-primary" style="width:160px"><i class=" icon-plus-sign icon-white"></i> Submit your feedback</a>
        </center>
      </div>
    </div>
  </script>

{% block jquery_templates %}

{% end %}

<script type="text/javascript">
    {% if current_user %} 
      //TODO: Log user login 
    {% end %}
    IT.pageLoad();
    function positionFooter() { var mFoo = $("#footer"); if ((($(document.body).height() + mFoo.height()) < $(window).height() && mFoo.css("position") == "fixed") || ($(document.body).height() < $(window).height() && mFoo.css("position") != "fixed")) { mFoo.css({ position: "fixed", bottom: "0px" }); } else { mFoo.css({ position: "static" }); } } $(document).ready(function () { positionFooter(); $(window).scroll(positionFooter); $(window).resize(positionFooter); $(window).load(positionFooter); });
  </script>

</body> 

</html>
