<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
<head xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
	<meta charset="utf-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="author" content="intheory"> 
	<meta name="description" content="Intheory 2012"> 
	<meta property="og:image" content="http://www.petrominpng.com.pg/images/logo_big.png" />
	<meta name="viewport" content="width=920, initial-scale=auto"> 
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Intheory 2012" /> 

	<meta property="og:site_name" content="Intheory 2012" />
	<title>
		{% block title %}
			InTheory | Pass Your Theory Test. Guaranteed.
		{% end %}
	</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="{{static_url('css/base.css')}}" />
	{% for css in kwargs['css_deps'] %}
		<link href="{{static_url(css)}}" rel="stylesheet">
	{% end %}

    <style type="text/css">
      html{
        background-image: url(/static/imgs/background.jpg);
        background-repeat: no-repeat;
      }
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      } 
    </style>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34526303-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head> 

<body >
{% block header %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"> <img src="{{static_url('imgs/logo.png')}}"></a>
            <div class="pull-right">           
               {% if not current_user%}
           		 <a href="/login"><button type="submit" class="btn btn-success">Sign in</button></a>
               {% else %}
              	 <ul class="nav nav-pills">
                    {% if current_user['moderator'] %}
                      <li id="admin-nav"><a href="/admin">Admin</a></li>  
                    {% end %}
              	 	  <li class="active"><a href="/learn/main">Learn</a></li>
              		  <li id="mock-test-nav"><a href="/test/new">Mock Test</a></li>
                    <li><a href="#">Book Test</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li>|</li>	
            	 </ul>
            	 <a class="brand1" href="/dashboard"> <img src="{{static_url('imgs/user.png')}}"></a>
              {% end %}
            </div>
		</div>
        </div>
      </div>
{% end %}

{% block content %}

{% end %}

{% raw xsrf_form_html() %}
{% block scripts %}
	<script src="{{static_url('js/libs/jquery-1.7.2.min.js')}}"></script>
	<script src="{{static_url('js/libs/blurb.min.js')}}"></script>
	<script src="{{static_url('js/IT.js')}}"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
{% end %}

{% for js in kwargs['js_deps'] %}
	<script src="{{static_url(js)}}"></script>
{% end %}

{% block jquery_templates %}

{% end %}
<div class="container">
   <div class="footer"><font color="#FFFFFF" size="2px">  <p class="alignleft">InTheory Media Limited © 2012</p>
  <p class="alignright">About Us | Terms & Conditions | Privacy Policy | Support </p></font></br>
</div>
</div>

</body> 

</html>
