{% extends "base.html" %}

{% block content %}
    <div class="container">
    	<div class="hero-unit">
        	<div class="hero-unit1">
        		<h1>Hey {{kwargs['user'].first_name}}!</h1>
        		<p>We're still working on the dashboard but it'll be awesome!</p>

        		<h2>Your test scores</h2>
        		{% for test in kwargs['history'] %}
                <ul>
        			<li><span class="badge">{{test.score}}/{{len(test.questions)}}</span></li>
                </ul>
        		{% end %}
        		<br><br><br><br>
        	</div>
    	</div>
    </div> <!-- /container -->
{% end%}

{% block jquery_templates %}
{% end %}

