{% extends "base.html" %}

{% block content %}
    <div class="container">
    	<div class="hero-unit">
        	<div class="hero-unit1">
        		Hey {{kwargs['user'].first_name}}!
        		We're still working on the dashboard but it'll be awesome!
        		<br><br>
        		Your test scores:
        		<br>
        		----------------
        		<br>
        		{% for test in kwargs['history'] %}
        			{{test.score}}
        			<br>
        		{% end %}
        		<br><br><br><br>
        	</div>
    	</div>
    </div> <!-- /container -->
{% end%}

{% block jquery_templates %}
{% end %}

