{% extends "base.html" %}

{% block content %}

{% if not kwargs['user'].has_read_welcome_msg %}
  <div class="hidden">
  </div>
{% end %}

{% set progress = kwargs['progress'] %}
<div class="landing">
  <div class="row">
    <div class="span5"><br />
      <div class="landingdescrip">
        {% if progress != 0 %}
          <h1>Hey {{current_user.first_name}}!</h1>
          <p>
            Good to see you back! You're <b>{{progress}}%</b> of the way through learning for the theory test and should be ready to pass really <b>soon</b>.
          </p> 
        {% else %}
          <h1>Welcome {{current_user.first_name}}!</h1>
          <p>
            Welcome to your one and only study guide for the driving theory test. If you feel ready to start use one of the buttons below to get started.
          </p> 
        {% end %}
        <p>
          <div class="progress progress-striped">
            <div class="bar" style="width: {{progress}}%;">
            </div>
          </div>
        </p>
        <center> 
          <p> 
            <a href="/learn/main"> <button class="btn btn-large btn-primary" type="button">Learn</button></a>&nbsp;&nbsp;&nbsp;
            <a href="/practice/main"><button class="btn btn-large btn-success" type="button">Practice</button></a>&nbsp;&nbsp;&nbsp;
            <a href="/learn/hazard"><button class="btn btn-large btn-danger" type="button">Hazard Perception</button></a>
          </p>
        </center>
      </div>
    </div>

    <div class="span1">
    </div>
    <br />
    <div class="span6">
      <div class="row">
        <div class="stats-section">
          <div class="span3">
            <center>
              <ul class="bigstat">
                <li class="bigstat">
                  <h1>{{kwargs['stats']['correct_answers']}}</h1>
                  <div class="bigstatUnderline"></div>
                  <h2>Correct Answers</h2>
                </li><br /><br /><br />
                <li class="bigstat">
                  <h1>{{kwargs['stats']['points']}}</h1>
                  <div class="bigstatUnderline"></div>
                  <h2>Total points</h2>
                </li>
              </ul>
            </center>
          </div>
          <div class="span3">
            <center> 
              <ul class="bigstat">
                <li class="bigstat">
                  <h1>{{kwargs['stats']['total_questions_answered']}}</h1>
                  <div class="bigstatUnderline"></div>
                  <h2>Questions Answered</h2>
                </li>
                <br/><br/><br/>
                <li class="bigstat">
                  <h1>{{"{0:.1f}".format(kwargs['stats']['accuracy'])}}%</h1>
                  <div class="bigstatUnderline"></div>
                  <h2>Accuracy</h2>
                </li>
              </ul>
            </center>
          </div>
        </div>

        <div class="welcome-msg-container">
          <div class="welcome-msg-content">
            <h4>Hey there! Welcome to InTheory.</h4>
            <p>
            The Dashboard is where you can:
            </p>
            <ul>
            <li>
             <strong>Learn</strong> the theory, section by section
             </li>
             <li>
             <strong>Practice</strong> what you have learned
             </li>
             <li>
             or take a <strong>Hazard Perception</strong> test
             </li>
             </ul>
            <p>
            We want you to pass as quickly as possible, so we'll let you know when you're ready. See you on the road!
            </p>
          </div>
          <div class="welcome-msg-footer">
            <a id="close-welcome-msg-btn"> 
              <button class="btn btn-mini btn-primary" type="button">
                Got it!
              </button>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% end%}

{% block jquery_templates %}
{% end %}

