{% extends "base.html" %}

{% block content %}
<div class="landing">
    <div class="row">
        <div class="span5"><br />
            <div class="landingdescrip">
                <h1>Pass fast.</h1>
                <h1>Pass first time.</h1>
                <p>
                    <ul>
                        <li>The simplest and fastest way to pass your test.</li>
                        <li>Use new learning techniques to help you remember the details.</li>
                        <li>Don't pass first time? Get your money back.</li>
                    </ul>     
                </p>
                <center> 
                    <p><a href="/login/options"><button class="btn btn-large btn-success" style="margin-top:7px;" type="button">Get Started Today - Free</button></a>&nbsp;&nbsp;&nbsp;
                    </p>
                </center>
            </div>
        </div>
        <br />
        <div class="span7">  
            <img src="{{static_url('imgs/usp1.png')}}" alt="some_text">
        </div>
    </div>

    <div class="row">
        <div class="span3"><br />
            <img src="{{static_url('imgs/uspu1.png')}}" alt="some_text">
        </div>
        <div class="span3"><br />
            <img src="{{static_url('imgs/uspu2.png')}}" alt="some_text">
        </div>
        <div class="span3"><br />
            <img src="{{static_url('imgs/uspu3.png')}}" alt="some_text">
        </div>
        <div class="span3"><br />
            <img src="{{static_url('imgs/uspu4.png')}}" alt="some_text">
        </div>
    </div>
  </div>
{% end%}

{% block footer %}
  <div class="footer fixed">
    <font color="#FFFFFF" size="2px">  
      <div class="span6">
        <p>InTheory Media Limited © 2012</p>
      </div>
      <div class="span6">
        <p class="alignright"><a href="/landing/about">About Us</a> | <a  href="/landing/terms">Terms & Conditions</a> | <a href="/landing/privacy">Privacy Policy</a> | Support </p>
      </div> 
    </font>      
    <div style="clear:both"></div>
    <br/>
    Crown copyright material reproduced under licence from the Driving Standards Agency, which does not accept any responsibility for the accuracy of the reproduction
  </div>
{% end %}

{% block jquery_templates %}
<script id="signup-template" type="text/x-jquery-tmpl">
<div id="windowTitleDialog" class="modal hide fade">
    <div class="modal-header">
        <a class="close">&times;</a>
        <h3>You scored ${score} out of 5!</h3>
    </div>
    <div class="modal-body">
        <p>You still need a little practice, but don't worry we're here to help you pass. Sign-up today to get started...</p>
        <a href="/login"><center><img src="{{static_url('imgs/facebook.png')}}" alt="some_text"/></a>
        <img src="{{static_url('imgs/twitter.png')}}" alt="some_text"/>
        <img src="{{static_url('imgs/google.png')}}" alt="some_text"/></center>
        <center><a href="h">Or click here to sign-up directly</a></center>
    </div>
    <div class="modal-footer">
        <ul class="pager">
            <li class="previous"><a href="#">Sign in to InTheory</a></li>
            <li class="next"><a href="#">Forgot username or password?</a></li>
        </ul>
    </div>
</div>
</script>

<script id="show-arrow-template" type="text/x-jquery-tmpl">
<div class="arrow-container">
	<img src="{{static_url('imgs/arrow.png')}}"/>
</div>
</script>
{% end %}

