{% extends "base.html" %}

{% block content %}
<div class="landing">
  <div class="row">
    <div class="span3">
    </div>
    <div class="span6"><br />
      <div class="mainborder">
        <div class="maincontent">
          <div class="msg-container">
            <p id="greeting-msg">Hi! <b>Thanks for choosing InTheory</b>.</p>
            <p id="list-msg">You'll get <b>everything</b> you need to pass:</p>
          </div>

          <div class="clear">
          </div>

          <div class="alert alert-success">
            <ul id="usplist" >
              <li id="bullet1"><span><b>Step-by-step</b> "smart" learning content</span></li>
              <li id="bullet2"><span>Complete <b>900+ official DSA question</b> bank</span></li>
              <li id="bullet4"><span>Nine <b>hazard perception tests</b> with answers</span></li>
              <li id="bullet3"><span>Practice with <b>timed mock tests</b></span></li>
              <li id="bullet5"><span><b>Track and analyze</b> your progress over time</span></li>
            </ul>
          </div>
          
          <center>
            <a id="pay-btn" href="{{kwargs['redir_url']}}" class="btn btn-large btn-success">Start Learning Now - £9.99</a>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
          </center>

          <div class="paypal-img-container">
            <img src="{{static_url('imgs/credit.png')}}" />
          </div>
        
        </div>
      </div>             
    </div><br /><br />
    <div class="span3">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <img src="{{static_url('imgs/arrow.png')}}" />
    </div>
  </div>
</div>
{% end %}

{% block jquery_templates %}
{% end %}