{% extends "base.html" %}

{% block content %}
<div class="landing">
	<div class="row">
		<div class="span3">
		</div>
  		<div class="span6"><br />
  			<div class="mainborder">
  				<center>
  					<h2>Sign In or Sign Up</h2>
  				</center>
  				<div class="maincontent">
  					<a href="{{kwargs['redir_url']}}" style="color:black" title="Twitter">
  						<span class="dtwitter">Twitter</span>
  					</a>  
     			</div>
           </div>
       </div>
   </div>
</div>	
{% end %}

{% block jquery_templates %}
{% end %}