{% extends "base.html" %}

{% block content %}
<div class="landing">
	<div class="row">
		<div class="span3">
		</div>
  		<div class="span6"><br />
  			<div class="mainborder">
					<h2>Get started in 30 seconds.</h2>
          <h4>No credit card required.</h4>
  				<div class="maincontent">

            <form id="registration-form">
              {% raw xsrf_form_html() %}
              <input type="hidden" id="next" value="{{kwargs['next']}}"></input>
              <div id="registration-error-msg" class="alert alert-error">              
              </div>

              <label><strong>Username</strong></label>
              <input name="username" class="input-xlarge" type="text" placeholder="Username">

              <label><strong>Email</strong></label>
              <input name="email" class="input-xlarge" type="text" placeholder="Email">

              <label><strong>Password<strong></label>
              <input name="password" class="input-xlarge" type="password" placeholder="Password">
              <br><br>
              <button id="submit-info-btn" type="submit" class="btn btn-large btn-info">Create my account</button>
            </form>

     			</div>
           </div>
       </div>
   </div>
</div>	
{% end %}

{% block jquery_templates %}
{% end %}