{% extends "base.html" %}

{% block content %}
<div class="landing">
	<div class="row">
		<div class="span3">
		</div>
  		<div class="span6"><br />
  			<div class="mainborder">
					<h2>Get started in 30 seconds.</h2>
  				<div class="maincontent">

            <form >
              <label><strong>Username</strong></label>
              <input class="input-xlarge" type="text" placeholder="Type something…">

              <label><strong>Email (optional)</strong></label>
              <input class="input-xlarge" type="text" placeholder="Type something…">

              <label><strong>Password<strong></label>
              <input class="input-xlarge" type="text" placeholder="Type something…">
              <br><br>
              <button type="submit" class="btn btn-large btn-info">Create my account</button>
            </form>

     			</div>
           </div>
       </div>
   </div>
</div>	
{% end %}

{% block jquery_templates %}
{% end %}