{% extends "../base.html" %}

{% block content %}
    <div class="container">
    	<div class="hero-unit">
        	<div class="hero-unit1">
	        <div class="image123">
			  <img alt="" src="{{static_url('imgs/questionbg.png')}}" />
			  <div class="text">
			    <p><font color="#FFFFFF"><b>About us</b></font></p>
			  </div>
			</div>
			<div class="progress progress-striped">
			  <div class="bar bar-inactive progress-striped" style="width: 100%;"></div>
			</div>
        	<div class="learn">
        		InTheory was created to make a boring experience faster and better.<br><br>

				Learning for your driving theory is dull, but, if you want to get out on the road, you need to do it. <br>
				We believe that that way you learn for your test can be made much, much better; that's why we created InTheory.co.uk in September 2012. <br>
				We really hope you enjoy what we've built, and pass first time. See you on the road!
        	</div>
			</br>
	        </div>
	    </div>
    </div>
{% end %}

{% block jquery_templates %}
{% end %}