{% extends "../base.html" %}

{% block content %}
    <div class="container">
    	<div class="hero-unit">
        	<div class="hero-unit1">
	        <div class="image123">
			  <img alt="" src="{{static_url('imgs/questionbg.png')}}" />
			  <div class="text">
			    <p><font color="#FFFFFF"><b>Privacy Policy</b></font></p>
			  </div>
			</div>
			<div class="progress progress-striped">
			  <div class="bar bar-inactive progress-striped" style="width: 100%;"></div>
			</div>
        	<div class="learn">
        		Giorgio, Zihad and Domain D.
        	</div>
			</br>
	        </div>
	    </div>
    </div>
{% end %}

{% block jquery_templates %}
{% end %}