{% extends "../base.html" %}

{% block content %}
<div class="landing">
	<div class="row">
  		<div class="span12"><br />
  			<div class="mainborder">
  				<div class="questiontitle">
  					<h2>About Us</h2>
  				</div>

  				<div class="maincontent">
           			<p class="learn">
           				InTheory was created to make a boring experience faster and better.<br><br>

						Learning for your driving theory is dull, but, if you want to get out on the road, you need to do it. We believe that that way you learn for your test can be made much, much better; that's why we created InTheory.co.uk in September 2012. We really hope you enjoy what we've built, and pass first time. See you on the road!
           			</p>
           			<p>Hello George</p>
     			</div>
           </div>
		</div>
	</div>
</div>
{% end %}

{% block jquery_templates %}
{% end %}