{% extends "../base.html" %}

{% block content %}
<div class="jumbotron masthead">
  <div class="container">
      <div class="blackbox"> 
        <h1>Pass Your Theory Test</h1>

        {% if kwargs['v'] == "f" %}
          <p>The only <b>100% FREE</b> site. Learn & practice for <b>FREE</b>.</p>
          <a href="/login/options?next=/practice/main&access=1" style="width: 30%" class="btn btn-success btn-large" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.1.1']);"><b>Get Started for FREE</b></a>&nbsp;&nbsp;&nbsp;
        {% elif kwargs['v'] == "t"%}
          <p>Start learning for your test today. Try it now <strong>free</strong>.</p>
          <a href="/login/options?next=/practice/main&access=0" style="width: 30%" class="btn btn-success btn-large" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.1.1']);"><b>Get Started Today</b></a>&nbsp;&nbsp;&nbsp;
        {% end %}   
      </div>
      <br /><br /><br /><br /> 
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
          </div>
          <div class="brand1">"Thanks InTheory! I passed in just 2 days." - Katie B, Cheltenham</div>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
                <li class="learn"><a href="#">Call Us: +44(0)1865 522 808</a></li>              
                <li class="divider-vertical"></li>
                <li class="learn">
                  <div class="share_buttons"><a class="facebook" href="#" onclick="window.open('http://www.facebook.com/sharer.php?u=http://intheory.co.uk','','scrollbars=yes,width=660,height=328'); return false;" title="Share this"></a><a class="twitter" href="#" onclick="window.open('https://twitter.com/intent/tweet?url=http://intheory.co.uk','','scrollbars=yes,width=730,height=252'); return false;" title="Tweet this"></a><a class="google" href="#" onclick="window.open('https://plusone.google.com/_/+1/confirm?hl=en&amp;url=https%3A%2F%2Fwrapbootstrap.com%2F','','scrollbars=yes,width=530,height=360'); return false;" title="Share this"></a></div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    
      <div class="marketing">
        <div class="row-fluid">
          <div class="span12">    
            <div class="span3">
              <img src="{{static_url('imgs/questions.png')}}">
              <h2>Official Questions</h2>
              <p>Practice with 900+ <b>official</b> questions from the Driving Standards Agency.</p>
            </div>
            <div class="span3">
              <img src= "{{static_url('imgs/time.png')}}">
              <h2>Mock Tests</h2>
              <p><b>Timed mock tests</b> with official questions to practice like the real thing.</p>
            </div>
            <div class="span3">
              <img src="{{static_url('imgs/step.png')}}">
              <h2>Step-By-Step</h2>
              <p>We'll walk you through exactly what you need to do to pass <b>quickly</b>.</p>
            </div>
            <div class="span3">
              <img src="{{static_url('imgs/clip.png')}}">
              <h2>Hazard Perception</h2>
              <p>Learn & practice with <b>official hazard perception clips</b> from the DSA.</p>
            </div>
            <div class="span12">
              <center><br />
                <h2>Everything You Need To Pass In One Place... <b>FREE</b></h2></center>
                <p align="left">
                InTheory is the new and easy way to learn for your Theory Test. Find the Highway Code boring? We did too. 
                </p>
                <p align="left">
                That's why InTheory contains completely new and rewritten material based on the principles of the Highway Code, so you get the most important information, but in an interesting and easy-to-learn way.
                </p>
                <p align="left">
                We combine this with over 900 Official Theory Test Bank Questions, licensed from the DSA, as well as nine official Hazard Perception clips, so you know what the real thing looks like. So, we offer everything in one place. What else? Aside from our completely original content, we'll give you mock tests (that are like the actual test), step-by-step learning (in small sections, shown to directly improve learning) and a way to track your progress.
                So you can be sure you're learning the right stuff, haven't missed anything important, and just as important, know when you're ready to pass.
                </p>
                <p align="left">
                Finally, trying out InTheory is absolutely FREE! You can try our product out, let us know what you think, and decide on everything else later. So what's stopping you? Sign up now.
                </p>
                {% if kwargs['v'] == "f" %}
                  <a href="assets/bootstrap.zip" class="btn btn-primary btn-large" style="width: 70%">Get Started Today for <b>FREE</b></a>&nbsp;&nbsp;&nbsp;
                {% elif kwargs['v'] == "t"%}
                  <a href="assets/bootstrap.zip" class="btn btn-primary btn-large" style="width: 70%">Get Started Today</a>&nbsp;&nbsp;&nbsp;
                {% end %}
                <br /><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% end %}

{% block jquery_templates %}
{% end %}